
<div class="outer-container">
    <div class="flex-container">
        <div class="calculator">
    
            <div class="input-wrapper">
                <input type="text" [(ngModel)]="display" (keypress)="restrictInput($event)" (keydown.enter)="calculate()">
                <mat-spinner *ngIf="isLoading" diameter="30"></mat-spinner>
            </div>
        
            <div class="buttons">
              <button (click)="clear()">C</button>
              <button class="disabled" title="Not yet implemented">/</button>
              <button class="disabled" title="Not yet implemented">*</button>
              <button (click)="deleteLast()">DEL</button>
              <button (click)="appendToDisplay('7')">7</button>
              <button (click)="appendToDisplay('8')">8</button>
              <button (click)="appendToDisplay('9')">9</button>
              <button [disabled]="disableMinusButton()" (click)="appendToDisplay('-')">-</button>
              <button (click)="appendToDisplay('4')">4</button>
              <button (click)="appendToDisplay('5')">5</button>
              <button (click)="appendToDisplay('6')">6</button>
              <button [disabled]="disablePlusButton()" (click)="appendToDisplay('+')">+</button>
              <button (click)="appendToDisplay('1')">1</button>
              <button (click)="appendToDisplay('2')">2</button>
              <button (click)="appendToDisplay('3')">3</button>
              <button (click)="calculate()">=</button>
              <button (click)="appendToDisplay('0')">0</button>
              <button (click)="appendToDisplay('.')">.</button>
            </div>
        
          </div>
          <app-history></app-history>
    </div>

</div>

<br />
<div class="error-msg" *ngIf="httpError"> 
    <h3>{{httpErrorMsg}}</h3>
</div>
<div class="error-msg" *ngIf="httpHistoryMsgError.length > 0">
    <h4>{{httpHistoryMsgError}}</h4>
</div>
<div class="success" *ngIf="httpHistoryMsgSuccess.length > 0">
    <h4>{{httpHistoryMsgSuccess}}</h4>
</div>